@tailwind base;
@tailwind components;
@tailwind utilities;

.research-area-arrow,
  .thesis-arrow {
    transition: transform 0.2s ease;
  }

  .research-area-details,
  .thesis-details {
    animation: slideDown 0.2s ease;
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      max-height: 0;
    }
    to {
      opacity: 1;
      max-height: 200px;
    }
  }